
h1 {
  align-items: center;
  font-size: 50px;
}
.Kijon {
  border: 1px solid green;
  border-radius: 5px;
  width: 160px;
  margin-bottom: 2%;
  padding: 0px;
}
article .elem{
  border: 1px solid green;
  border-radius: 5px;
  cursor: grab;
  font-size: 500%;
  text-align: center;
}
.jatekter {
  width: 160px;
  display: grid;
  grid-template-columns: 95px 95px 95px;
  grid-template-rows: 95px 95px 95px;
}
.elem p{
    margin: auto;
}